<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New Doctor</title>
</head>
<body>
    <h1>Create New Doctor</h1>

    <form action="new_doctor/create" method="post">

        <div>
            <label>First Name</label>
            <input type="text" name="firstName" placeholder="Enter Your First Name"/>
        </div>

        <div>
            <label>Last Name</label>
            <input type="text" name="lastName" placeholder="Enter Your Last Name"/>
        </div>

        <div>
            <label>Email</label>
            <input type="text" name="Email" placeholder="Enter Your Email"/>
        </div>

        <button>Submit</button>

    </form>

</body>
</html>